@model CalculatorMVC.Models.CalculationModel

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

 <div>
     @Html.LabelFor(m => m.Result, "Result: ")
     @Html.TextBoxFor(m => m.Result, new { @readonly = "readonly" })
 </div>

<!-- <a href="@Url.Action("Index", "Calculator")">Back to Calculator</a>-->
